# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.cache

# Logs
logs/
*.log

# Build files
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
env/
bin/
include/
lib/